SCHILLING_WEB_SERVICES_HOSTNAME=hostname-or-ip-to-schilling
SCHILLING_WEB_SERVICES_PORT=8888
SCHILLING_WEB_SERVICES_USERNAME=username
SCHILLING_WEB_SERVICES_PASSWORD=password
SCHILLING_WEB_SERVICES_COMPANY=1001